.contact-page {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.4),
      rgba(20, 20, 20, 0.4)
    ),
    url(../assets/Home/home-contact.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.info {
  list-style-type: none;
}

.contact {
  width: 95%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
