* {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.Home-page {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(205, 202, 202);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}

@media (max-width: 768px) {
  .Home-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.home-about {
  background-image: url(../assets/Home/Home-about.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.home-card {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
}

.home-project {
  background-image: url(../assets/bootcamp.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.home-project-card {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.home-contact {
  background-image: url(../assets/Home/home-contact.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
.home-contact-card {
  background-color: transparent;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
