.mainContainer {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.4),
      rgba(20, 20, 20, 0.4)
    ),
    url(../assets/projects.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
