.mainContainer {
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4)),
    url(../assets/projects.jpg);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding-top: 80px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .mainContainer {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}

.projectBox {
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 10px;
  padding: 20px;
  height: 1200%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
